<div class="container text-center border border-success-subtle rounded col-12 col-lg-6 my-5 p-3">
<h1 class="m-3">Stupid Coaching </h1>
<%= @answer %>
<div>
<%= link_to "Another question ?", ask_path, class: "btn btn-outline-success mt-3"%>
</div>
</div>
